<hr class="margin-bottom-1x">
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <section class="widget widget-light-skin">
          <h3 class="widget-title">Get In Touch With Us</h3>
          <p class="text-white">info@labtex.fi</p>
          <p class="text-white">Pulttitie 12, 00880 Helsinki</p>
        </section>
      </div>
      <div class="col-lg-3 col-md-6">
        <section class="widget widget-light-skin">
          <h3 class="widget-title">Opening Hours</h3>
          <p class="text-white">Ma-Pe klo 9-16 </p>
          <p class="text-white">Verkkokauppa 24/7</p>
        </section>
      </div>
      <div class="col-lg-3 col-md-6">
        <!-- About Us-->
        <section class="widget widget-light-skin">
          <h3 class="widget-title">Our Office</h3>
        </section>
      </div>
      <div class="col-lg-3 col-md-6">
        <!-- Account / Shipping Info-->
        <section class="widget widget-light-skin">
          <h3 class="widget-title">Online Shopping Info</h3>
          <p class="text-white">Terms and conditions</p>
          <p class="text-white">Delivery options</p>
        </section>
      </div>
    </div>
  </div>
</footer>