<img class="card-img-top" src="assets/img/doc.jpg" alt="Team">
<div class="card-body">


    <!--

        <h5 class="card-title mb-2">Kane Montoya</h5>
    <p class="text-muted mb-2">Founder, CEO</p>
    <div class="social-bar">
        <a class="social-button shape-circle sb-facebook" href="#" data-toggle="tooltip" data-placement="top" title="Facebook">
            <i class="socicon-facebook"></i>
        </a>
        <a class="social-button shape-circle sb-twitter" href="#" data-toggle="tooltip" data-placement="top" title="Twitter">
            <i class="socicon-twitter"></i>
        </a>
        <a class="social-button shape-circle sb-google-plus" href="#" data-toggle="tooltip" data-placement="top" title="Google +">
            <i class="socicon-googleplus"></i>
        </a>
    </div>
    -->
</div>