

<h3>LabTex terveystuotteet</h3>
<div class="text-justify">
<p>
  LabTex on vuonna 2007 perustettu kotimainen perheyritys, joka sijaitsee Helsingissä. Päätoimialaamme ovat terveys-, sairaala-,
  fysioterapia- ja hyvinvointituotteet. </p>
<p>
  Asiakkaitamme ovat mm. apteekit ja terveyskaupat, sairaalat, terveyskeskukset, vanhainkodit, fysioterapeutit sekä muut terveydenhuollon
  ammattilaiset sekä vähittäiskaupan sektori. Tarjoamme tuotteitamme myös yksityisille kuluttajille verkkokaupassamme.</p>
<p>
  Tuotevalikoimamme kasvaa jatkuvasti ja haluamme erityisesti tarjota asiakkaillemme sertifioituja, turvallisia, patentoituja
  ja laadukkaita ratkaisuja terveyden ja hyvinvoinnin lisäämiseksi. Pyrimme ylläpitämään ja kehittämään valikoimaamme hyvillä
  kansainvälisillä yhteyksillä mahdollisimman kattavaksi vastaamaan asiakkaidemme tarpeita. Ensisijainen tavoitteemme onkin
  asiakkaidemme ja yhteistyökumppaneidemme tyytyväisyys.
</p>
<p>
  Filosofiaamme kuuluu tärkeimpänä asiakaslähtöisyys, luotettavuus ja pitkäaikaisten asiakkuussuhteiden luominen. Pyrimme aina
  ylittämään asiakkaidemme odotukset ja asiakkaidemme hyvinvoinnin edistäminen on ykkösasiamme.
</p>
</div>