<div class="container mb-2">
  <div class="row">
    <div class="col-lg-12">
      <div class="text-center">
        <button class="btn btn-outline-default" type="button">Yritus</button>
        <button class="btn btn-outline-default" type="button">Pyydätarjous</button>
        <button class="btn btn-outline-default" type="button">Koulutus</button>
        <button class="btn btn-outline-default" type="button">Palaute</button>
      </div>
    </div>
  </div>
</div>