<section class="container-fluid">
    <div class="justify-content-center">
          <div class="text-center">
            <h3 class="text-success mb-1">Monthly Offer</h3>
            <p> This offer is really special and make use of it</p>
            <div class="countdown" data-date-time="04/30/2018 12:00:00">
              <div class="item">
                <div class="days">00</div><span class="days_ref">Days</span>
              </div>
              <div class="item">
                <div class="hours">00</div><span class="hours_ref">Hours</span>
              </div>
              <div class="item">
                <div class="minutes">00</div><span class="minutes_ref">Mins</span>
              </div>
              <div class="item">
                <div class="seconds">00</div><span class="seconds_ref">Secs</span>
              </div>
            </div><br><a class="btn btn-primary margin-bottom-none" href="#">View Offer</a>
          </div>
        </div>
  </section>