<hr class="margin-bottom-1x">
<div class="row">
  <div class="col-lg-3 col-sm-3 mb-2">
    <div class="margin-bottom-1x">
      <app-doc></app-doc>
    </div>
  </div>
  <div class="col-lg-6 col-sm-6 mb-6">
    <div class="margin-bottom-1x">
      <app-lt-info></app-lt-info>
    </div>
  </div>
  <div class="col-lg-3 col-sm-3 mb-3">
    <div class="margin-bottom-1x">
      <app-offer></app-offer>
    </div>
  </div>
</div>