<div class="owl-carousel large-controls dots-inside" data-owl-carousel="{ &quot;nav&quot;: true, &quot;dots&quot;: true, &quot;loop&quot;: true, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 3000 }">
  <img src="assets/hero-slider/1.jpg" alt="Image">
  <img src="assets/hero-slider/2.jpg" alt="Image">
  <img src="assets/hero-slider/3.jpg" alt="Image">
</div>