<hr class="margin-bottom-1x">
<div class="card-deck">
    <div class="card margin-bottom-1x">
        <a class="card-img-tiles" routerLink="/shop" href="">
            <img class="card-img-top" src="assets/home/01.jpg" alt="Card image">
        </a>
        <div class="card-body text-center">
            <h4 class="card-title">Verkkakauppa</h4>
        </div>
    </div>
    <div class="card margin-bottom-1x">
        <a class="card-img-tiles" href="/soemthing.html">
            <img class="card-img-top" src="assets/home/02.jpg" alt="Card image">
        </a>
        <div class="card-body text-center">
            <h4 class="card-title">Labtex Pro</h4>
        </div>
    </div>
    <div class="card margin-bottom-1x">
        <a class="card-img-tiles" href="/soemthing.html">
            <img class="card-img-top" src="assets/home/03.jpg" alt="Card image">
        </a>
        <div class="card-body text-center">
            <h4 class="card-title">Labtex Care Nordic</h4>
        </div>
    </div>
    <div class="card margin-bottom-1x">
        <a class="card-img-tiles" href="/soemthing.html">
            <img class="card-img-top" src="assets/home/02.jpg" alt="Card image">
        </a>
        <div class="card-body text-center">
            <h4 class="card-title">Ortopediyhdistys</h4>
        </div>
    </div>
</div>