<div class="grid-item">
  <div class="product-card">
    <div class="text-danger" *ngIf="product.hasDiscount">50% Off</div>
    <a class="product-thumb" href="shop-single.html">
      <img class=" mx-auto rounded mb-3" src="{{product.url}}" alt="Image">
    </a>
    <h3 class="product-title">
      <a href="shop-single.html">{{product.title}}</a>
    </h3>
    <h4 class="product-price" *ngIf="product.hasDiscount">
      <del>{{product.actualPrice}}</del>{{product.discountPrice}}
    </h4>
    <h4 class="product-price" *ngIf="!product.hasDiscount">
      {{product.actualPrice}}
    </h4>
    <div class="product-buttons">
      <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
        <i class="icon-heart"></i>
      </button>
      <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check"
        data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
    </div>
  </div>
</div>