<div class="modal fade" id="modalShopFilters" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Shop Filters</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Widget Categories-->
        <section class="widget widget-categories">
          <h3 class="widget-title">Shop Categories</h3>
          <ul>
            <li *ngFor="let category of categories">
              <a href="#">{{category}}</a>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>



<div class="offcanvas-wrapper">
  <app-page-title title="Shop"></app-page-title>

  <div class="container-fluid padding-bottom-3x mb-1">
    <div class="row">


      <div class="col-xl-10 col-lg-8 order-lg-2">
        <div class="shop-toolbar padding-bottom-1x mb-2">
          <div class="column">
            <div class="shop-view">
              <a class="grid-view" [class.active]="!viewToggle" (click)="toggleView()">
                <span></span>
                <span></span>
                <span></span>
              </a>
              <a class="list-view" [class.active]="viewToggle" (click)="toggleView()">
                <span></span>
                <span></span>
                <span></span>
              </a>
            </div>
          </div>
        </div>
        <div class="isotope-grid cols-4 mb-2" *ngIf="!viewToggle">
          <div class="gutter-sizer"></div>
          <div class="grid-sizer"></div>
          <app-product-group *ngFor="let product of products" [product]="product"></app-product-group>
        </div>
        <div *ngIf="viewToggle">
          <app-product-list *ngFor="let product of products" [product]="product"></app-product-list>
        </div>
      </div>

      <div class="col-xl-2 col-lg-4 order-lg-1">
        <button class="sidebar-toggle position-left" data-toggle="modal" data-target="#modalShopFilters">
          <i class="icon-layout"></i>
        </button>
        <aside class="sidebar sidebar-offcanvas">
          <!-- Widget Categories-->
          <section class="widget widget-categories">
            <h3 class="widget-title">Shop Categories</h3>
            <ul>
              <li *ngFor="let category of categories">
                <a href="#">{{category}}</a>
              </li>
            </ul>
          </section>
        </aside>
      </div>

    </div>
  </div>
</div>