<div class="offcanvas-wrapper">
    <app-carosel></app-carosel>
    <div class="container-fluid">
        <app-sub-nav></app-sub-nav>
        <app-home-info></app-home-info>
        <app-home-card></app-home-card>
        <app-footer></app-footer>
    </div>
</div>