<div class="page-title">
  <div class="container">
    <div class="column">
      <h1>{{title}}</h1>
    </div>
    <div class="column">
      <ul class="breadcrumbs">
        <li>
          <a routerLink="/">Home</a>
        </li>
        <li class="separator">&nbsp;</li>
        <li>{{title}}</li>
      </ul>
    </div>
  </div>
</div>